src/*.o
src/*.so
src/*.d
libGo4UserAnalysis*
# In case of hanging swap files ... *wink*
src/*.swp
src/.*
src/#*
*.lmd
*.root
*.png
*.pdf
.nfs*
lmd/*
rootfile/*
MainUserAnalysis
martin*
*.so
*.pcm
src/G__*
*.pdf
*.png
*.sh
file_loc
